html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  
  h1 {
    font-size: 1.8rem; 
    color: white;
  }

  .firmware-version {
    color: wheat;
  }
  
  p { 
    font-size: 1.4rem;
  }
  
  .topnav { 
    overflow: hidden; 
    background-color: #0A1128;
  }

  .topnav table {
    width: 100%;
  }
  
  body {  
    margin: 0;
  }
  
  .content { 
    padding: 24px;
  }
  
  .card-grid { 
    max-width: 800px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .card { 
    padding: 16px;
    background-color: white; 
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }

  .card table {
    width: 100%;
  }
  
  .card-title { 
    margin: 0;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078;
    text-transform: uppercase;
  }
  
  input[type=submit] {
    border: none;
    color: #FEFCFB;
    background-color: #034078;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    }
  
  input[type=submit]:hover {
    background-color: #1282A2;
  }
  
  input[type=text], input[type=password], select {
  /*  input[type=text], input[type=number], input[type=password], select {*/
    font-size: large;
    padding: 12px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number] {
    font-size: large;
    padding: 12px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=range] {
    /*padding: 12px;*/
    display: block;
    width: 100%;
  }

  input[type=checkbox] {
    display: block;
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    margin: 10px;
  }

  input[type=radio] {
    width: 24px;
    height: 24px;
    margin: 0;
    vertical-align: middle;
  }

  .radio-block {
    margin: 8px 24px 8px 4px; 
    display: inline-block;
    vertical-align: middle;
  }

  .temperature-format-radio {
    vertical-align: middle;
  }

  .temperature-format-label {
    vertical-align: middle;
    font-size: 20px;
  }
  
  label {
    font-size: 1.2rem; 
  }
  .value{
    font-size: 1.2rem;
    color: #1282A2;  
  }
  .state {
    font-size: 1.2rem;
    color: #1282A2;
  }
  .time {
    font-size: 1.2rem;
    color: #2812a2;
  }
  table {
    padding-top:16px;
  }
  button {
    border: none;
    color: #FEFCFB;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    min-width: 100px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button-on {
    background-color: #034078;
  }
  .button-on:hover {
    background-color: #1282A2;
  }
  .button-off {
    background-color: #858585;
  }
  .button-off:hover {
    background-color: #252524;
  } 
  .button-update {
    background-color: #4c8341;
  }
  .button-update:hover {
    background-color: #60c55c;
  } 
  .button-default {
    background-color: #454183;
  }
  .button-default:hover {
    background-color: #5c63c5;
  } 
  .button-reset {
    background-color: #834141;
  }
  .button-reset:hover {
    background-color: #c55c5c;
  } 
  .button-restart {
    background-color: #b92828;
  }
  .button-restart:hover {
    background-color: #fc3838;
  } 

.tool-button {
  text-transform: uppercase;
  border-radius: 24px;
}


  button:active {
    transition-duration: 50ms;
    transform: scale(0.99);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.header-corner-cell {
  width: 90px;
  padding-right: 16px;
}

.button-ru, .button-en {
  min-width: 20px;
  padding: 4px;
}

.button-ru {
  background-color: darkred;
}

.button-en {
  background-color: navy;
  margin-left: 8px;
}

.show-pass-icon {
  font-size: x-large;
}

.first-column {
  width: 50%;
  text-align: right;
  /* padding-right: 16px; */
}

.parameter-column {
  padding: 8px 0;
  width: 50%;
}

.range-container {
  display: table;
  width: 100%;
}

.range-slider-container {
  display: table-cell;
  width: auto; 
  vertical-align: middle;
}

.range-value-container {
  display:table-cell; 
  width: 60px; 
  padding-left: 10px; 
  vertical-align: middle; 
  padding-left: 10px; 
  vertical-align: middle; 
  text-align: right;
}

.range-value-output {
  padding: 8px 0;
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.modal-window {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.75);
  box-shadow: grey 10px 10px 15px;
  border: 1px gray solid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: black;
  }
}

.modal-restart-close {
  color: #808080;
  line-height: 30px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  text-decoration: none;
  &:hover {
    color: black;
  }
  font-weight: bold;
  border-radius: 0 1rem;
  border: 1px solid gray;
  border-width: 0 0 1px 1px;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.param-icon {
  color: blue;
  width: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0 8px;
}

.text-icon {
  font-size: xx-small;
  font-weight: 900;
}

