html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  
  h1 {
    font-size: 1.8rem; 
    color: white;
  }
  
  p { 
    font-size: 1.4rem;
  }
  
  .topnav { 
    overflow: hidden; 
    background-color: #0A1128;
  }

  .topnav table {
    width: 100%;
  }
  
  body {  
    margin: 0;
  }
  
  .content { 
    padding: 24px;
  }
  
  .card-grid { 
    max-width: 800px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .card { 
    padding: 16px;
    background-color: white; 
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }

  .card table {
    width: 100%;
  }
  
  .card-title { 
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
  }
  
  input[type=submit] {
    border: none;
    color: #FEFCFB;
    background-color: #034078;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    }
  
  input[type=submit]:hover {
    background-color: #1282A2;
  }
  
  input[type=text], input[type=password], select {
  /*  input[type=text], input[type=number], input[type=password], select {*/
    font-size: large;
    width: 50%;
    padding: 12px;
    margin: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number] {
    font-size: large;
    width: 50%;
    padding: 12px;
    margin: 8px 16px 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  label {
    font-size: 1.2rem; 
  }
  .value{
    font-size: 1.2rem;
    color: #1282A2;  
  }
  .state {
    font-size: 1.2rem;
    color: #1282A2;
  }
  .time {
    font-size: 1.2rem;
    color: #2812a2;
    text-align: center;
  }
  button {
    border: none;
    color: #FEFCFB;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    min-width: 100px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button-on {
    background-color: #034078;
  }
  .button-on:hover {
    background-color: #1282A2;
  }
  .button-off {
    background-color: #858585;
  }
  .button-off:hover {
    background-color: #252524;
  } 
  .button-update {
    background-color: #4c8341;
  }
  .button-update:hover {
    background-color: #60c55c;
  } 
  .button-reset {
    background-color: #834141;
  }
  .button-reset:hover {
    background-color: #c55c5c;
  } 
  .button-update-offset {
    background-color: #418380;
  }
  .button-update-offset:hover {
    background-color: #5cc5c5;
  } 

  button:active {
    transition-duration: 50ms;
    transform: scale(0.99);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.header-corner-cell {
  width: 90px;
  padding-right: 16px;
}

.button-ru, .button-en {
  min-width: 20px;
  padding: 4px;
}

.button-ru {
  background-color: darkred;
}

.button-en {
  background-color: navy;
  margin-left: 8px;
}